<html>
 <head>
 	</head>
 <body>
 <form action="/login" method='post'>
 	<br>
 	<br>
 	<br>
<div class="a">User &nbsp; &ensp;&emsp; <input type='text' name='username' class='login'></input></div>
 <br>
 <div class="a">Password <input type="text" name="password" type="password" class="login"></input></div>
 <br><br>
 <div class="b">
 <input type='submit' name='submit' value='Login'></input></div>
 <br> 
 <div class="c"> <%= session[:message] %></div>
 </form>
 </body>
 </html>
